/* Estilos personalizados para el slider */
.carousel-item img {
    max-height: 500px; /* Limita la altura máxima */
    object-fit: cover; /* Mantiene la proporción de la imagen */
    width: 100%;
}
        
/* Ajustes para pantallas pequeñas */
@media (max-width: 768px) {
    .carousel-item img {
        max-height: 300px;
    }
}
        
/* Estilos para las cards */
.card-img-top {
    height: 200px;
    object-fit: cover;
}
        
/* Espaciado general */
section {
    padding: 3rem 0;
}
        
/* Estilos para el logo */
.navbar-brand img {
    max-height: 150px; /* Ajusta la altura máxima del logo */
    width: auto; /* Mantiene la proporción */
}
        
/* Para pantallas pequeñas, ajusta el tamaño del logo */
@media (max-width: 768px) {
    .navbar-brand img {
        max-height: 35px;
    }
}
